{% extends "gabarit.twig" %}
{% block content %}
{% include 'AdminTemplate.twig' %}
<div class="container">
  {% for comment in comments %}  
  <div class="box">  
    <p class="subtitle has-text-weight-bold">{{comment.author|striptags}}</p>
    <p class="subtitle is-size-7 is-italic">le {{comment.date_create}}</p>
    <p class="subtitle is-size-6">{{comment.comment|striptags}}</p>
    <p class="is-warning">
        {% if comment.warning == 0 %} 
            Nothing
        {% else %}
            <strong>Signalé</strong>
        {% endif %}
    </p><br/>
    <a class="button is-success" href="{{HOST}}validComment/id/{{comment.id}}">Valider</a>
    <a class="button is-danger" href="{{HOST}}deleteComment/id/{{comment.id}}">Supprimer</a> 
  </div>
  {% endfor %}  
</div>
{% endblock %}
