{% extends "gabarit.twig" %}
{% block content %}
<div class="container">
  <h2 class="title is-4">Derniers articles en ligne</h2>
  <div class="columns">
    <article class="column is-three-quarter" id="all_articles">
      {% for article in articlesList %}
      <div class="article">
        <div class="card">
          <div class="card-image">
              {% if article.image == true %}
                  <figure class="image is-16by9">
                  <img src="{{WEB}}img/article_img/{{article.image}}"/>
                  </figure>
              {% endif %}
          </div>
          <div class="card-content">
            <div class="content">
              <p>
                <strong class="title">{{article.title|striptags}}</strong><br>
                <small class="is-italic">Posté le {{article.date_create}}</small>
                {% if article.content|length <= 200 %}
                  <p class="subtitle">{{article.content|raw}}</p>
                {% else %}
                  <p class="subtitle">...</p>
                {% endif %}
                <a href="{{HOST}}article/id/{{article.id}}">Lire la suite</a>
              </p>
            </div>
          </div>
        </div>
        <br/>
      </div>        
      {% endfor %}
      <div id="pagination">
        {% for i in 1..allPages %}
          {% if i == currentPage %}
            {{i}}
          {% elseif i == currentPage + 1 %}
            <a class="next" href="{{i}}">{{i}}</a>
          {% else %}
            <a href="{{i}}">{{i}}</a>
          {% endif %}
        {% endfor %}        
      </div>
    </article>
    <div class="column is-one-quarter">
      <p class="subtitle is-italic">Recevoir la newsletter</p>
      <form action="{{HOST}}subscribe" method="post">
        <div class="field">
          <div class="control">
            <input class="input is-primary" type="email" name="user_mail_newsletter" placeholder="Votre adresse e-mail">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-info">S'inscrire!</button>
          </div>
        </div>
      </form>
    </div>       
  </div> 
  
<script src="{{WEB}}js/jquery-ias.min.js"></script>
<script src="{{WEB}}js/pagination.js"></script>
</div>
{% endblock %}
